/* frontend/src/components/CreateReviewForm/CreateReviewForm.css */

.form-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.review-modal {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.review-modal h2 {
  text-align: center; /* Center the title */
  margin-bottom: 20px; /* Space below the heading */
}

.review-modal textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Allow vertical resizing */
  min-height: 100px; /* Set a minimum height */
}

.review-modal .stars-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-modal button {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 4px;
  color: #4f4f4f;
  cursor: pointer;
  border: 2px solid #ccc;
  box-shadow: 2px 2px 2px #ccc;
}

.review-modal button:hover {
  background-color: rgb(170, 67, 170);
  color: black;
  border: 3px solid black;
  box-shadow: 0px 2px 2px black;
}

.review-modal .error {
  color: red;
  margin-top: -15px;
  margin-bottom: 15px;
}

.stars-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.star {
  font-size: 2rem;
  color: lightgray; /* Color for unfilled stars */
  transition: color 0.2s;
}

.star.filled {
  color: gold; /* Color for filled stars */
}

.star:hover,
.star:hover ~ .star {
  color: gold; /* Change color on hover */
}
