/* ================================
   Container for All Images
================================ */
#images-container {
  display: flex;
  justify-content: space-between;
  height: 400px;
  width: 100%;
  margin-top: 10px;
}

/* ================================
   Large Image
================================ */
#image-large-container {
  height: 100%;
  margin-right: 5px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.image-large {
  border-radius: 15px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* ================================
   Small Images
================================ */
#images-small-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.images-small-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 49%;
  margin: 5px;
}

.image-small {
  border-radius: 4px;
  height: 100%;
  object-fit: cover;
  width: 49%;
}
