/* ================================
   Sign Up Container
================================ */

.signup-form {
  display: flex;
  padding: 0 1em;
}

/* ================================
   Sign Up Form
================================ */

.signup-form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

/* ================================
   Errors Container
================================ */

#errors-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.error {
  color: red;
  margin-top: -15px;
  margin-bottom: 15px;
}

.error-message {
  color: red;
  font-size: 0.9em; /* Optional: adjust the font size */
}
