/* ================================
   Session Form
================================ */
.session-form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 80%;
  margin-left: 1em;
  margin-right: 1em;
}

/* Media query for smaller screens (phones) */
@media screen and (max-width: 600px) {
  .session-form {
    width: 90%; /* Increase width for better use of space */
    margin-left: 0.5em; /* Reduced margin for smaller screens */
    margin-right: 0.5em; /* Reduced margin for smaller screens */
  }

  .error-message {
    font-size: 0.8em; /* Make error messages smaller on mobile */
  }

  .demo-link {
    font-size: 0.9em; /* Adjust demo link font size on mobile */
    padding-bottom: 1.5em; /* Reduce padding for mobile screens */
  }
}

/* ================================
   Errors Container
================================ */
#errors-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.error {
  color: red;
  margin-top: -15px;
  margin-bottom: 15px;
}

.error-message {
  color: red;
  font-size: 0.9em; /* Optional: adjust the font size */
}

/* ================================
   Demo Link
================================ */

.demo-link {
  display: flex;
  color: #b965d7;
  justify-content: center;
  padding-bottom: 2em;

  &:hover {
    color: #4a90e2;
  }
}
