.paw-purple {
  color: #b965d7;
}

.create-spot-link {
  margin-right: 16px; /* Space between the link and profile button */
  color: #b965d7;
  text-decoration: none;
  margin-left: auto;
  margin-right: 150px;
}

.create-spot-link:hover {
  color: #4f4f4f;
}

.hamburger-icon {
  font-size: 1.25em;
  color: #4f4f4f;
  margin-right: 8px;
  cursor: pointer;
}

.user-icon {
  font-size: 2.25em;
  color: #4f4f4f;
  margin-right: 8px;
  cursor: pointer;
}

.home-icon {
  text-decoration: none;
  font-size: 48px;
  transition: color 0.3s ease;

  &:hover {
    color: #4f4f4f;
  }
}

.hover-effect {
  transition: color 0.3s ease;

  &:hover .paw-purple,
  &:hover .site-name {
    color: #4f4f4f;
  }
}

.icon-container,
.logo-container {
  display: flex;
  align-items: center;
}

.logout-button {
  padding: 10px;
  background: white;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #ccc;

  &:hover {
    background-color: #b965d7;
    border: 3px solid black;
    box-shadow: 0px 2px 2px black;
  }
}

.nav-links {
  display: flex;
  align-items: center;
  margin-left: auto; /* Pushes links to the right */
}

.nav-link {
  color: #4f4f4f;
  text-decoration: none;
  font-size: 1em;
  margin-right: 20px;
  padding: 8px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #b965d7;
}

.navigation {
  display: flex;
  padding: 16px 32px;
  background-color: #ffffff;
}

.profile-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.profile-button {
  position: absolute;
  right: 32px;
  padding: 5px 20px;
  background: #ffffff;
  border: 2px solid #dedede;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  min-width: 60px;
  margin-left: 32px;
}

.profile-dropdown {
  list-style: none;
  position: absolute;
  right: 0;
  top: 30px;
  background: #ffffff;
  border: 2px solid #dedede;
  box-shadow: 0 2px 8px #ccc;
  border-radius: 10px;
  z-index: 10;
  width: 100%;
  min-width: 200px;
  margin-top: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown li {
  padding: 12px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.profile-dropdown li:hover {
  background-color: #f7f7f7;
}

.site-name {
  text-decoration: none;
  font-size: 0.5em;
  margin-left: 8px;
  font-weight: bold;
}

button {
  border: none;
  outline: none;
  background: transparent;
}
